{% extends "/recursosLenguajes/masPython.html" %}

{% block title %}
    Intalar IDE
{% endblock %}

{% block articuloPython %}
    <h1>Instalando IDE</h1>
    <p>
        Para instalar un entorno de desarrollo integrado(ide) tenemos muchas opciones como por ejemplo:
        <a href="https://code.visualstudio.com/" target="_blank">vsc</a>,
        <a href="https://www.jetbrains.com/es-es/pycharm/" target="_blank">pycharm</a>,
        <a href="https://www.sublimetext.com/" target=" _blank">sublime text</a>,
        <a href="https://atom.io/" target="_blank">atom</a>, etc.
        Pero nosotros utilizaremos
        <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code.</a>

        <br>

    <li>descargamos el ide desde la pagina oficial</li>
    <li>ejecutamos el exe</li>
    <li>aceptamos acuerdo y le damos a siguiente</li>
    <li>siguiente</li>
    <li>siguiente</li>
    <li>seleccionamos las casillas a gusto y luego le damos a siguiente (IMPORTANTE no deseleccionar la casilla:
        <mark>Agregar a PATH</mark>
        )
    </li>
    <li>finalizar</li>

    <br>

    <h3>Configuramos el ide</h3>

    <li>en la barra lateral izquierda presionamos el boton extensiones</li>
    <li>en la barra de busqueda buscamos python</li>
    <li>selecionamos la primer coincidencia y la instalamos</li>

    <br>

    <iframe class="yutu" width="95%" height="615" src="https://www.youtube.com/embed/F9oQBssvDjA" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>

    </iframe>

    </p>
{% endblock %}
