<link rel="stylesheet" href="/static/css/footer.css">

<footer>

    <p>
        &copy; Todos los derechos reservados.
        <address>Chile, Concepcion, San Pedro de la Paz.</address>
    </p>

    <section class="imagenIcono">
        <a href="https://www.facebook.com/salvador.melladonunez/" target="_blank"><img src="/static/imagenArticulos/iconosFooter/facebook.png" alt="Facebook icono"></a>
    </section>

    <section class="imagenIcono" >
        <a href="https://www.instagram.com/salvamn/" target="_blank"><img src="/static/imagenArticulos/iconosFooter/instagram.png" alt="Instagram icono"></a>
        
    </section>

    <section class="imagenIcono" >
        <a href="https://github.com/salvamn" target="_blank"><img src="/static/imagenArticulos/iconosFooter/gitHub.png" alt="Git Hub icono" width="50"></a>
        
    </section>

    <section class="imagenIcono" >
        <a href="/create" target="_blank"><img src="/static/imagenArticulos/iconosFooter/gmail.png" alt="Gmail icono"></a>
        
    </section>

    <section class="imagenIcono" >
        <a href="https://www.youtube.com/channel/UC1vZONxmHbwqZiBWMYaYURQ" target="_blank"><img src="/static/imagenArticulos/iconosFooter/youtube.png" alt="Gmail icono" ></a>
        
    </section>
</footer>